.countdown-container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    color: #333;
    padding: 20px 10px;
    border-radius: 10px;
}
  
  .timer-segment {
    text-align: center;
  
    .time {
      font-size: 48px;
      font-weight: bold;
      margin: 0;
    }
  
    .label {
      font-size: 16px;
      margin: 0;
    }
  }
  
  .separator {
    font-size: 48px;
    font-weight: bold;
    margin-top: -4px;
  }
  