.member_modal {
  width: 80% !important;
  margin: 0 auto;
  height: inherit !important;
  top: 60px;
  bottom: inherit !important;
  background: inherit !important;

  .modal_content {
    background: #f2efe8;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    color: #222;
    // overflow-y: scroll;
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .member_img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        img {
          width: 200px;
          height: 200px;

          object-fit: cover;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
        .img_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3px;
          h4 {
            font-size: 24px;
            font-weight: 300;
          }
          span {
            font-size: 16px;
            font-weight: 400;
          }
          h5 {
            font-weight: 400;
          }
        }
      }
    }

    .middle {
      display: flex;
      justify-content: center;
      p {
        width: 90%;
        text-align: center;
      }
    }
  }
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  overflow: hidden;
}
