.banner{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    background: #F2EFE8;
    .content{
        h1{
            font-size: 90px;
            font-weight: 700;
            padding-top: 60px;
            color: #222;
            
        }
    }
}