* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DecimaMonoPro', sans-serif;
}
::selection{
  background: #FFC107;
  color: #222;
}
body{
  background: #F2EFE8;
}


img {
  vertical-align: middle;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container{
  width: 80%;
  margin: 0 auto;
}
.sec_title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  left: -75px;
  top: 20px;
  z-index: 9;
}
.header_title {
  font-size: 40px;
  font-weight: 300;
  padding-bottom: 40px;
  text-transform: uppercase;
}

/* =============  fonts  =============== */
@font-face {
  font-family: 'DecimaMonoPro';
  src: url('./assets/fonts/DecimaMonoProLt.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DecimaMonoPro';
  src: url('./assets/fonts/DecimaMonoPro.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DecimaMonoPro';
  src: url('./assets/fonts/DecimaMonoPro-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}